{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h1 align="center">Lista de palabras </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Palabra</th>
      <th scope="col">Acciones</th>
     
    </tr>
  </thead>
  <tbody>

    {% for item in palabras %}
    <tr>
      <th scope="row">{{ item.decode() }}</th>
      <td> 
        <a class=" btn btn-primary" href="/ver-palabra?palabra={{ item.decode() }}">Ver palabra</a>    
        <a class=" btn btn-success" href="/editar?palabra={{ item.decode() }}">Editar palabra</a>        
      <button type="button" class=" btn btn-danger"  onClick="eliminarPalabra('{{ item.decode() }}')" >
        Eliminar
      </button>
    </td>   
  </tr>   
  {% endfor %}
      
     
   
  </tbody>
</table>

{% endblock %}
